body{
    margin: 0;
    padding: 0;
    background-color: rgb(255, 255, 255);
}
.backg_round{
    width: 100%;
    background-color: rgba(238, 236, 236, 0.89);
}
.barnd_image{
    cursor: pointer;
}
.barnd_image img{
    width: 135px; 
}

.search_box{   
    width: 100%; 
    margin: auto;
} 
.search_box input::placeholder{
    font-size: 14px;
} 
.i_back{           
    margin: auto;
}
.btn_color{    
    outline: none;
    border: 1px solid #c7e9f8;
    border-radius: 3px;
}
.btn_color:hover{
    
    background-color: #c7e9f8;
}
.log_button{
    list-style: none;
    background-color: #0B5ED7;
    border-radius: 3px;
}
.log_button a{
    color: white;
}
.log_button:hover a{
    color: white;
}
.log_in{
    margin: auto;
    margin-left: 20px;
}
.f_sixe{
    text-decoration: none;
    font-size: 13px;
    cursor: pointer;
}
.i_shop{
    color: #1299E8;
    cursor: pointer;
}
.sidebar_nav{ 
    width: 17%;   
    height: 300px;
    background-color: #df2c2ce7;
    z-index: 1;
}
.sidebar_nav ul{
    margin-top: 5px;
    margin-left: -15px;
}
.sidebar_nav li{
    list-style: none;  
}
.sidebar_nav a{
    text-decoration: none;
    color: black;
}

.sidebar_nav li{
    width: 150px;
    height: 35px;
    font-size: 14px;
    font-weight: 500;
}

.sidebar_nav li ul{    
    display: none;
}

.sidebar_nav li:hover > ul {
    display: block;
    text-align: center;
    margin-top: -26px;
    margin-left: 113px;
    cursor: pointer;
}
.sidebar_nav li:hover ul > li{
    background-color: rgba(199, 99, 99, 0.815);
}

.row_ca{
    position: relative;
}
.carousel_height{
    width: 83%;
    height: 250px;
    padding: 0;
}
.carousel_height img{
    height: 300px;
}

.cart_icon{
        display: none;
}


/* Media query */


@media (min-width: 320px) and (max-width: 437px) {
    
    .search_box{ 
        width: 42%;
    } 
    .search_box input{
        width: 80px;
        margin-left: -22px;
    }
   
    .carousel_height{
        width: 100%;
    }
    .sidebar_nav{
        display: none;
    }
    .carousel_height img{
        height: 200px;
    }
    .barnd_image{
        cursor: pointer;
    }
    .barnd_image img{
       width: 70px;
       margin-top: 10px;
    }
    .carousel_height{
        width: 100%;
    }
    .i_shop{
        display: none;
    }
    .search_box input::placeholder{
        font-size: 12px;
    } 
}

@media (min-width: 438px) and (max-width: 576px) {
    
    .search_box{ 
        width: 56%;
    } 
    .carousel_height{
        width: 100%;
    }
    .sidebar_nav{
        display: none;
    }
    .carousel_height img{
        height: 200px;
    }
    .barnd_image{
        cursor: pointer;
    }
    .barnd_image img{
       width: 70px;
       margin-top: 10px;
    }
    .carousel_height{
        width: 100%;
    }
    .i_shop{
        display: none;
    }
    .search_box input::placeholder{
        font-size: 12px;
    } 
}

@media (min-width: 577px) and (max-width: 768px) {
    .search_box{   
        width: 60%;
    } 
    .log_in{
        margin-top: 5px;
   }
   .carousel_height{
    width: 100%;
  }
.sidebar_nav{
    display: none;
} 
.i_shop{
    display: none;
}

.barnd_image img{
    width: 90px;
    margin-top: 5px;
}
.search_box input::placeholder{
    font-size: 12px;
}
}
@media (min-width: 769px) and (max-width: 885px){
    .sidebar_nav{ 
        width: 23%;   
        height: 300px;
        background-color: #df2c2ce7;
        z-index: 1;
        position: absolute;
    }
    .carousel_height{
        width: 77%;
        height: 250px;
        padding: 0;
    }
}

@media (min-width: 886px) and (max-width: 992px){
    .sidebar_nav{ 
        width: 18%;   
        height: 300px;
        background-color: #df2c2ce7;
        z-index: 1;
    }
    .carousel_height{
        width: 82%;
        height: 250px;
        padding: 0;
    }
}