body{
    margin: 0;
    padding: 0;
    background-color: rgb(255, 255, 255);
}
.backg_round{
    width: 100%;
    background-color: rgba(238, 236, 236, 0.89);
}
.barnd_image{
    cursor: pointer;
}
.barnd_image img{
    width: 135px; 
}

.search_box{   
    width: 100%; 
    margin: auto;
} 
.search_box input::placeholder{
    font-size: 14px;
} 
.i_back{           
    margin: auto;
}
.btn_color{    
    outline: none;
    border: 1px solid #c7e9f8;
    border-radius: 3px;
}
.btn_color:hover{
    
    background-color: #c7e9f8;
}
.log_button{
    font-size: 14px;
    border: 1px solid rgb(236, 185, 185);    
}
.log_button:hover{
    background-color: #1299E8;
}
.log_in{
    margin: auto;
    margin-left: 20px;
}
.f_sixe{
    text-decoration: none;
    font-size: 13px;
    cursor: pointer;
}
.i_shop{
    color: #1299E8;
    cursor: pointer;
}
.sidebar_nav{    
    height: 300px;
    background-color: rgba(248, 248, 248, 0.904);
    z-index: 1;  
      
}
.sidebar_nav a{
    text-decoration: none; 
    color: black;
}
.sidebar_nav li{    
    width: 100px;
    height: 25px;
    font-size: 14px;
    font-weight: 500;
    list-style: none;
    cursor: pointer;
    /* border: 1px solid tomato;  */
    /* line-height: 30px; */
    
}

.sidebar_nav li:hover ul{   
    text-align: center;
    margin-left: 80px;
    margin-top: -18px;
}
.sidebar_nav li:hover ul > li{
    background-color: rgba(255, 255, 255, 0.815);
}

.sidebar_nav li ul{    
    display: none;   
}
.sidebar_nav li:hover > ul {
    display: block;  
}
.row_ca{
    position: relative;
}
.carousel_height{
    height: 250px;
}
.carousel_height img{
    height: 300px;
}

.cart_icon{
        display: none;
}


/* Media query */


@media (min-width: 320px) and (max-width: 437px) {
    
    .search_box{ 
        width: 42%;
    } 
    .search_box input{
        width: 80px;
        margin-left: -22px;
    }
   
    .carousel_height{
        width: 100%;
    }
    .sidebar_nav{
        display: none;
    }
    .carousel_height img{
        height: 200px;
    }
    .barnd_image{
        cursor: pointer;
    }
    .barnd_image img{
       width: 70px;
       margin-top: 10px;
    }
    .carousel_height{
        width: 100%;
    }
    .i_shop{
        display: none;
    }
    .search_box input::placeholder{
        font-size: 12px;
    } 
}

@media (min-width: 438px) and (max-width: 576px) {
    
    .search_box{ 
        width: 56%;
    } 
    /* .search_box input{
        width: 80px;
        margin-left: -22px;
    } */
    /* .log_in{
        width: 170px;
        margin-left: -100px;
        margin-top: 5px;        
    }  */
    .carousel_height{
        width: 100%;
    }
    .sidebar_nav{
        display: none;
    }
    .carousel_height img{
        height: 200px;
    }
    .barnd_image{
        cursor: pointer;
    }
    .barnd_image img{
       width: 70px;
       margin-top: 10px;
    }
    .carousel_height{
        width: 100%;
    }
    .i_shop{
        display: none;
    }
    .search_box input::placeholder{
        font-size: 12px;
    } 
}


@media (min-width: 577px) and (max-width: 768px) {
    .search_box{   
        width: 60%;
    } 
    .log_in{
        margin-top: 5px;
   }
   .carousel_height{
    width: 100%;
  }
.sidebar_nav{
    display: none;
} 
.i_shop{
    display: none;
}

.barnd_image img{
    width: 90px;
    margin-top: 5px;
}
.search_box input::placeholder{
    font-size: 12px;
}
}